/vendor/
/node_modules/
/.env
/.env.local
/.phpunit.result.cache
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/sessions/
/storage/logs/*
!/storage/logs/.gitkeep
/bootstrap/cache/

# IDE / editor
/.idea/
/.vscode/
.DS_Store
